@import url('normalize.css');
@import url('grid.css');


.left-hand-container {
  width: 60%;

}

.row-1 {
/*  height: 30em;*/
}

.col-6 {
  height: 30em;
  position: relative;

}

.temperature {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15em;
}

