@import url('normalize.css');
@import url('grid.css');

html, body {
  height: 100%;
  font-family: "Helvetica Neue";
}

#temperature {
  bottom: 0;
  right: 0;
  font-size: 10em;
  padding-top: 30%;
  margin: 0;
}

a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: black;
}

p {
  font-size: 300%;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
}

.change-temp-up, .change-temp-down {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.degrees {
  font-size: 800%;
  margin: 35% 0 0 -0.1em;
  color: white;
}

.degrees-symbol {
  display: none;
}

h2 {
  display: inline-block;
  font-size: 300%;
  margin: .4em 0;
  width: 100%;
  background-size: 50%;
}

h2 span {
  background: #fff;
  padding: 0 0 1px 16px;
  position: relative;
}

img {
  height: 20%;
  margin-left: 6%;
  margin-top: 14%;
}

@media screen and (max-width: 1200px) {

  .degrees {
    font-size: 600%;
    margin-top: 39%;
  }  
      
  img {
   margin-top: 20%;
  }

}

@media screen and (max-width: 900px) {

  .degrees {
    display: none;
  }

  .degrees-symbol {
    display: initial;
    font-size: 800%;
    margin: 40% 80% 0 -0.1em;
    color: white;
    float:  left;
  }

  img {
    height: 15%;
    float: left;
    margin-top: 14%;
  }

  h2 {
    font-size: 200%;
  }

}