@import url('normalize.css');
@import url('grid.css');

html, body {
  height: 100%;
  font-family: "Helvetica Neue";
}

#temperature {

  bottom: 0;
  right: 0;
  font-size: 10em;
  padding-top: 30%;
  margin: 0;
}

a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: black;
}

p {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
}

.change-temp-up, .change-temp-down {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

p.degrees {
  font-size: 12em;
  color: white;
  margin: 0 0 0 -0.1em;
  width: calc(100% + 200px);
  height: calc(100% - 50px);
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        -transform: rotate(90deg);
        text-align: center;
}


span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
