.thermostat {
  font-family: Verdana;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.temperature-display {
  font-size: 20em;
  color:  orange;
  float: left;
}

.buttons {
  float: left;
}

.change-temp-up, .power-saving-mode, .change-temp-down {
  margin-top: 5em;
  height: 6em;
  width: 100%;
}